---
title: "Education & Credentials"
layout: single-no-share
permalink: /education/
---

{% include base_path %}


{% comment %}
This is the new code for the Education page that replaces the original code below.
{% endcomment %}


<!-- Simple Loop for Education -->
{% for item in site.education %}
  <div class="archive__item">
    <h3 class="archive__item-title" itemprop="headline">
      <a href="{{ item.url }}" rel="permalink">{{ item.title }}</a>
    </h3>
    
    <p class="page__date">
      <strong>Institution:</strong> {{ item.institution }}<br>
      <strong>Date:</strong> {{ item.date | date: "%Y-%m" }} 
      {% if item.expdate %} | <strong>Expires:</strong> {{ item.expdate | date: "%Y-%m" }}{% endif %}
    </p>
    
    {% if item.excerpt %}
      <p class="archive__item-excerpt">{{ item.excerpt }}</p>
    {% endif %}
  </div>
  <hr>
{% endfor %}


{% comment %}
This is the original code on the Education page that was replaced with the new code above.

{% for post in site.education %}
  {% include archive-single.html %}
{% endfor %}

{% endcomment %}